name: Release App

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-macos:
    name: Build macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get
          
      - name: Build macOS
        run: flutter build macos --release

      - name: Compress App
        run: |
          cd build/macos/Build/Products/Release
          tar -czf Any4LeRobotGUI-macos.tar.gz Any4LeRobotGUI.app

      - name: Upload Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: build/macos/Build/Products/Release/Any4LeRobotGUI-macos.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

      - name: Build Linux
        run: |
          flutter config --enable-linux-desktop
          flutter pub get
          flutter build linux --release

      - name: Compress App
        run: |
          cd build/linux/x64/release/bundle
          tar -czf Any4LeRobotGUI-linux.tar.gz *

      - name: Upload Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: build/linux/x64/release/bundle/Any4LeRobotGUI-linux.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build Windows
        run: |
          flutter config --enable-windows-desktop
          flutter pub get
          flutter build windows --release

      - name: Compress App
        run: |
          Compress-Archive -Path build\windows\x64\runner\Release\* -DestinationPath Any4LeRobotGUI-windows.zip

      - name: Upload Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: Any4LeRobotGUI-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
